@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto:wght@100;300;400;500;700;900&display=swap');


body{
    font-family:Alfa Slab Roboto;
}

section{
    position:absolute;
    width: 1440px;
    height: 780px;
    left: -1px;
    top: 4625px;

    background: #EFEFEF;
}

.head{
    position: absolute;
    width: 987px;
    height: 93px;
    left: 121px;
    top: 4716px;


/* or 56px */


    color: #000000;

}

.form{
    position: absolute;
    width: 791px;
    height: 451px;
    left: 125px;
    top: 4843px;

    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}


